<p id="notice"><%= notice %></p>

ID: <%= @gtd_queue.id %><br/>
Name: <%= @gtd_queue.name %><br/>
Description: <%= @gtd_queue.description %><br/>
<%= link_to 'Edit', edit_gtd_queue_path(@gtd_queue) %> |
<%= link_to 'Back', gtd_queues_path %>
