<!DOCTYPE html>
<html>
<head>
  <title>HelenOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
  <div>
    Signed in as <%= current_user.email %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </div>
  <% else %>
  <div>
    <%= link_to('Login', new_user_session_path) %>
  </div>
  <% end %>
  <% flash.each do |key, value| %>
  <div>
    <ul>
      <li>
	<%= value %>
      </li>
    </ul>
  </div>
  <% end %>
  <%= yield %>
<div>Please try downloading the <a href="https://github.com/quarkbuddha/helen_in_pocket/releases/download/latest/app-release-unsigned.apk">Android app</a></div>
</body>
</html>
